// Variables
@import 'variables';

@import 'show-post';
@import 'comments';

#app {
  font-family: 'Roboo', sans-serif;
}

.post {
  position: relative;
  .thumbnail-img {
    position: relative;
    width: 520px;
  }
  .head {
    display: flex;
    justify-content: space-between;
  }
}
